@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: bold;
}

header {
    position: relative;
}

.top-container {
    background-color: #FFF;
    position: fixed;
    left: 0px;
    width: 100vw;
    z-index: 999;
}

.nav-link {
    font-size: 13px;
    font-weight: 600;
    color: black;
    transition: 0.4s ease ;
}

.welcome {
    z-index: 999999999;
    top: 480px;
    opacity: 0.1;
    font-weight: 600;
    font-size: 6em;
    left: -23%;
    transform: rotate(270deg);
}

.sites {
    z-index: 9999999999;
    right: -80px;
    top: 200px;
    transform: rotate(270deg);
}

.purple {
    color: #7C3AED;
}

.bg-grey {
    background-color: #323942;
}

.gray-btn {
    background-color: #323942;
    border-radius: 25px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 25px;
    text-decoration: none;
    color: #FFF;
}

#hero {
    padding: 200px 0px;
    padding-bottom: 150px !important;
}

.progress {
    border-radius: 100px;
    height: 10px !important;
}

.box {
    border-radius: 55px;
    border: 15px solid #FFF;
}

.languages {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.363);
}

.section-2 {
    background-image: url("../assets/images/Geometric\ signs.png");
}

.section-3 {
    background-color: #1B232C;
    padding: 80px 0px;
}

.shadow-text {
    font-size: 9em;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
    position: relative;
    text-align: center;
    display: block;
    top: -180px;
    z-index: -2;
}

footer {
    background-image: url("../assets/images/Shape-1.png");
    width: 100%;
    background-position: center;
    background-repeat: repeat-x;
    border-bottom: 1px solid #8d8c8ca4;
}

.logo {
    width: 250px;
}

.label {
    background-color: #4A4A4A;
    color: #8D8C8C;
    border-radius: 30px;
}

i {
    color: #4A4A4A;
    font-size: 20px;
}

.bottombar {
    background-color: #1B232C;
    color: #fff;
    color: #8D8C8C;
    font-size: 11px;
    font-weight: 500;
}

.close {
    display: none;
}

@media only screen and (max-width:1200px) {
    .right {
        right: 0px !important;
    }
}

@media only screen and (max-width:950px) {
    .top {
        justify-content: center !important;
        padding: 10px 0px;
    }

    .top-container {
        width: 100% !important;
    }

    #hero {
        padding: 70px 0px !important;
    }

    .shadow-text {
        font-size: 6.5em;
        top: -160px;
    }
}

@media only screen and (max-width:760px) {
    .nav {
        width: 100%;
        position: static !important;
        justify-content: center;
        padding: 10px 0px;
        padding-bottom: 0px !important;
    }

    #hero {
        padding-top: 150px !important;
    }

    .nav-link {
        padding: 10px 20px !important;
    }
}

@media only screen and (max-width:650px) {
    .sites {
        right: -130px;
    }
}

@media only screen and (max-width:550px) {
    .sec-3-img {
        width: 100%;
    }

    .shadow-text {
        font-size: 4.8em;
        top: -140px;
    }

    .sites {
        right: -150px;
    }

    .top-container {
        position: static !important;
    }

    #hero {
        padding-top: 0px !important;
    }
}


@media only screen and (max-width:400px) {
    .shadow-text {
        font-size: 3.7em;
        top: -125px;
    }

    .sites {
        right: -155px;
    }
}